@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Inter:wght@300;400;500;600;700;800&family=JetBrains+Mono:wght@400;500;700&display=swap');

@theme {
  --font-sans: "Inter", "Helvetica Neue", sans-serif;
  --font-serif: "Playfair Display", "Georgia", "Times New Roman", serif;
  --font-mono: "JetBrains Mono", monospace;
  
  --color-natural-bg: #f8f5f0;
  --color-natural-text: #4a4a40;
  --color-natural-sage: #5a5a40;
  --color-natural-pink: #ff85a1;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-natural-bg);
  color: var(--color-natural-text);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.font-serif-romantic {
  font-family: var(--font-serif);
}
